.order-book-container {
  margin: 20px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  color: #f0f0f0;
}

.order-book-single-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: right;
  border: 1px solid #444;
}

th {
  background-color: #333;
}

.asks {
  position: relative;
  background-color: #600;
}

.asks.light-red {
  background-color: #8b0000;
}

.asks.dark-red {
  background-color: #a52a2a;
}

.bids {
  position: relative;
  background-color: #060;
}

.bids.light-green {
  background-color: #006400;
}

.bids.dark-green {
  background-color: #228b22;
}

.spread-row {
  text-align: center;
  background-color: #333;
}

.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}

td {
  position: relative;
  z-index: 1;
}

tr:hover .bar {
  background-color: rgba(255, 255, 255, 0.4);
}
